.body-info{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.body-info img{
  position: absolute;
  display: flex;
  height: 99%;
  width: 100%;
  opacity: 0.8;
  filter: blur(8px);
}

.body-text-info{
  position: absolute;
  display: grid;
  row-gap: 15px;
  top: 0%;
  left: 0%;
  transform: translate(30%,30%);
  height: auto;
  z-index: 100;
  line-height: 1.2;
}

.body-text-info h1{
  color: #31363F;
  font-size: 5rem;
  text-transform: uppercase;
}

.body-text-info p{
  color: #31363F;
  font-size: 2.1rem;
  font-weight: 400;
  margin-top: 1rem;
}

.hr3 {
  height: 1rem;
  width: 7rem;
  border: 0;
  border-bottom: 6px solid black;
}

@media (max-width: 1600px){
  .body-text-info{
    transform: translate(30%,30%);
    line-height: 1;
  }
  .body-text-info h1{
    font-size: 5rem;
  }

  .body-text-info p{
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 1200px){
  .body-text-info{
    transform: translate(30%,35%);
    line-height: 1;
  }
  .body-text-info h1{
    font-size: 5rem;
  }

  .body-text-info p{
    font-size: 1.8rem;
    margin-top: 0.3rem;
  }

}

@media (max-width: 900px){
  .body-text-info{
    transform: translate(20%,50%);
    line-height: 1;
  }
  .body-text-info h1{
    font-size: 4rem;
  }

  .body-text-info p{
    font-size: 1.5rem;
    margin-top: 0.1rem;
  }

}

@media (max-width: 600px){
  .body-text-info{
    transform: translate(15%,65%);
    line-height: 1;
  }
  .body-text-info h1{
    font-size: 3rem;
  }

  .body-text-info p{
    font-size: 1.2rem;
  }

}

@media (max-width: 400px){
  .body-text-info{
    transform: translate(10%,70%);
    line-height: 1;
  }
  .body-text-info h1{
    font-size: 2.5rem;
  }

  .body-text-info p{
    font-size: 1rem;
  }

}